.page-navigation {
	margin-top: 10px;
	display: inline-block;
}
.page-navigation a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	font-weight: bold;
    transition: background-color .1s;
    border: 1px solid #ff7777;
    border-radius: 5px;
	background-color: #ffdddd;
}

.page-navigation a:hover:not(.current) {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .1s;
    border: 1px solid #ff7777;
    border-radius: 5px;
	background-color: #FFFF99;
}

.paginate_button.current {
    background-color: #f44336;
    color: white;
    border: 1px solid #f44336;
    border-radius: 5px;
}