.s-link{
    width: 49.6%;
    padding: 5px;
    margin: 0.2%;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    background-color: lightcoral;
    float: right;
    text-align: center;
    text-decoration: none;
}


.s-link:hover{
    text-decoration: none;
    cursor:pointer;
}

.cc {
    text-align: center;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

html,body,h1,h2,h3,h4,h5{
    font-family: "Raleway", sans-serif
}
.editRemoveButton{
    height: 28px;
    margin: 0px;
}
.editRemoveIcon{
    vertical-align: top;
}
.dropdown-menu li {
    cursor: pointer;
}
.titleConsulta{
    color: black;
}
.titleConsulta:hover{
    opacity: 0.7;
}
/* tabela de consultas */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.slidebar a:hover{
    text-decoration-line: none;
}
